* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

h1 {
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 30px;
}
form {
  display: block;
  padding-left: 20px;
}

input[type="radio"] {
  margin-right: 5px;
}

.toan {
  padding: 10px;
  padding-left: 30px;
}
/* .quention {
    padding: 5px;
  } */

/* =========================== media ====================== */
@media screen and (max-width: 680px) {
  #quizForm {
    /* padding: 5px; */
    font-size: 18px;
    margin-top: 5px;
  }
}
